@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

/* Navbar */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
}

.content{
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content-show{
  height: auto;
  max-height: 999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

html{
  scroll-behavior: smooth;
}